.form {
  &__group {
    border-bottom: 1px solid #3f3f3f;
    margin-bottom: 1.2rem;
  }

  &__control {
    display: block;
    padding: 0.5rem 0;
    width: 100%;
    border: none;
    font-family: inherit;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: $white;

    &::placeholder {
      color: rgba($white, 0.2);
    }

    &--textarea {
      height: 30px;
      resize: none;
      overflow: hidden;
    }
  }
}
