.subnav {
  display: none;
  width: 16.5rem;
  background-color: $blue;
  border-radius: 0 0 5px 5px;
  padding: 0.5rem 0;
  box-shadow: 0 6px 8px rgba($black, 0.2);

  position: absolute;
  top: 100%;
  left: 0;

  &__link {
    display: block;
    width: 100%;
    padding: 1rem 1.2rem;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 14px;
    color: $white;
    text-decoration: none;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}
